<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77345196538-lh3m2c51leggaj2dgnkmd1h2clh7hc5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77345196538-lh3m2c51leggaj2dgnkmd1h2clh7hc5i</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ6BkVQw37u96YFnx4mq9ipRBQ3DNouZM</string>
	<key>GCM_SENDER_ID</key>
	<string>77345196538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanvirgeek.ForFun2</string>
	<key>PROJECT_ID</key>
	<string>forfun2-71ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>forfun2-71ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77345196538:ios:e4e94a6eabe4328d947c43</string>
	<key>DATABASE_URL</key>
	<string>https://forfun2-71ae5.firebaseio.com</string>
</dict>
</plist>